*.user
*.pidb
/*.suo
.DS_Store
*.out
tags
src/Interop/obj/*
src/solutions/bin/*
test/PlayerCore/obj/*
test/PlayerCore/bin/*
test/MediaTest/obj/*
test/MediaTest/bin/*
test/Translator/bin/*
test/Translator/obj/*
test/Translator/out/*
test/mp3test/obj/*
test/mp3test/bin/*
test/gtksharptest/bin/*
test/gtksharptest/obj/*