*.user
*.pidb

/FFMPEG.mono/obj/*
/FFMPEG.mono/bin/*
/*.suo

test/MediaTest/obj/*
test/MediaTest/bin/*
test/Translator/bin/*
test/Translator/obj/*
test/Translator/out/*
test/mp3test/obj/*
test/mp3test/bin/*
test/gtksharptest/bin/*
test/gtksharptest/obj/*

.DS_Store

*.out
tags
